In [1]:
import pandas as pd
import time

In [2]:
df1 = pd.read_csv( ".\\Datasets_transformados\\TRT4\\TRT4_inteiro_teor_2017_2018_2019_amostra_transf.csv", encoding='utf-8' )
print( df1.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12071 entries, 0 to 12070
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LINK             12071 non-null  object
 1   INTEIRO_TEOR     12071 non-null  object
 2   DATA             12071 non-null  object
 3   RELATOR          12071 non-null  object
 4   ORGAO            12071 non-null  object
 5   RECORRENTE       12071 non-null  object
 6   DISPOSITIVO      12071 non-null  object
 7   QTD_RECORRENTES  12071 non-null  float64
dtypes: float64(1), object(7)
memory usage: 754.6+ KB
None

In [3]:
df_tudo = df1
df_tudo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12071 entries, 0 to 12070
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LINK             12071 non-null  object
 1   INTEIRO_TEOR     12071 non-null  object
 2   DATA             12071 non-null  object
 3   RELATOR          12071 non-null  object
 4   ORGAO            12071 non-null  object
 5   RECORRENTE       12071 non-null  object
 6   DISPOSITIVO      12071 non-null  object
 7   QTD_RECORRENTES  12071 non-null  float64
dtypes: float64(1), object(7)
memory usage: 754.6+ KB

In [4]:
#salvei este arquivo apenas para ter uma versao consolidada COM O ÍNDICE. Assim durante a fase de anotação, se for necessário acessar a integra de uma decisão, isso é possível utilizando o índice.
df_tudo.to_csv( ".\\Datasets_transformados_final\\TRT4\\TRT4_acordaos_amostra_2017_2018_2019_completo_com_indice.csv", encoding='utf-8' )

In [5]:
#eu reabro o arquivo com indice para eu poder salvar o arquivo para anotação com o indice, conforme explicado na celula anterior.
df_com_indice = pd.read_csv( ".\\Datasets_transformados_final\\TRT4\\TRT4_acordaos_amostra_2017_2108_2019_completo_com_indice.csv", encoding='utf-8' )
print( df_com_indice.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12071 entries, 0 to 12070
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12071 non-null  int64
 1   LINK             12071 non-null  object
 2   INTEIRO_TEOR     12071 non-null  object
 3   DATA             12071 non-null  object
 4   RELATOR          12071 non-null  object
 5   ORGAO            12071 non-null  object
 6   RECORRENTE       12071 non-null  object
 7   DISPOSITIVO      12071 non-null  object
 8   QTD_RECORRENTES  12071 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 848.9+ KB
None

In [6]:
df_com_indice = df_com_indice.rename(columns={'Unnamed: 0': 'INDICE'})
df_com_indice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12071 entries, 0 to 12070
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INDICE           12071 non-null  int64
 1   LINK             12071 non-null  object
 2   INTEIRO_TEOR     12071 non-null  object
 3   DATA             12071 non-null  object
 4   RELATOR          12071 non-null  object
 5   ORGAO            12071 non-null  object
 6   RECORRENTE       12071 non-null  object
 7   DISPOSITIVO      12071 non-null  object
 8   QTD_RECORRENTES  12071 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 848.9+ KB

In [7]:
df_com_indice = df_com_indice.drop(['LINK', 'INTEIRO_TEOR', 'DATA', 'RELATOR', 'ORGAO', 'RECORRENTE', 'QTD_RECORRENTES' ], axis=1)
df_com_indice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12071 entries, 0 to 12070
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   INDICE       12071 non-null  int64
 1   DISPOSITIVO  12071 non-null  object
dtypes: int64(1), object(1)
memory usage: 188.7+ KB

In [8]:
df_com_indice.to_csv( ".\\Datasets_transformados_final\\TRT4_acordaos_2017_2108_2019_com_indice_para_anotacao.csv", encoding='utf-8', index=False )

## Extração da amostra para anotação

In [9]:
df = pd.read_csv( ".\\Datasets_transformados_final\\TRT4_acordaos_2017_2108_2019_com_indice_para_anotacao.csv", encoding='utf-8' )
print( df.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12071 entries, 0 to 12070
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   INDICE       12071 non-null  int64
 1   DISPOSITIVO  12071 non-null  object
dtypes: int64(1), object(1)
memory usage: 188.7+ KB
None

In [10]:
df_anotacao = df.sample(frac=1, random_state=1)
df_anotacao.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12071 entries, 10769 to 235
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   INDICE       12071 non-null  int64
 1   DISPOSITIVO  12071 non-null  object
dtypes: int64(1), object(1)
memory usage: 282.9+ KB

In [11]:
df_anotacao

       INDICE                                        DISPOSITIVO
10769   10769  Vistos, relatados e discutidos os autos.  ACOR...
7929     7929  Vistos, relatados e discutidos os autos.  ACOR...
135       135  Vistos, relatados e discutidos os autos.  ACOR...
7996     7996  Vistos, relatados e discutidos os autos.  ACOR...
6691     6691  Vistos, relatados e discutidos os autos.  ACOR...
...       ...                                                ...
7813     7813  Vistos, relatados e discutidos os autos.  ACOR...
10955   10955  Vistos, relatados e discutidos os autos.  ACOR...
905       905  Vistos, relatados e discutidos os autos.  ACOR...
5192     5192  Vistos, relatados e discutidos os autos.  ACOR...
235       235  Vistos, relatados e discutidos os autos.  ACOR...

[12071 rows x 2 columns]

In [12]:
df_anotacao[0:500].to_csv( ".\\Datasets_transformados_final\\TRT4_amostra_500_ordem_aleatoria_para_anotacao.csv", encoding='utf-8', index=False )