In [1]:
import pandas as pd
import time

In [2]:
df1 = pd.read_csv( ".\\Datasets_transformados\\TRT3\\TRT3_inteiro_teor_2017_2018_2019_amostra_1_transf.csv", encoding='utf-8' )
print( df1.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7290 entries, 0 to 7289
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INTEIRO_TEOR     7290 non-null   object
 1   DATA             7290 non-null   object
 2   RELATOR          7290 non-null   object
 3   ORGAO            7290 non-null   object
 4   RECORRENTE       7290 non-null   object
 5   DISPOSITIVO      7290 non-null   object
 6   QTD_RECORRENTES  7290 non-null   float64
dtypes: float64(1), object(6)
memory usage: 398.8+ KB
None

In [3]:
df2 = pd.read_csv( ".\\Datasets_transformados\\TRT3\\TRT3_inteiro_teor_2017_2018_2019_amostra_2_transf.csv", encoding='utf-8' )
print( df2.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INTEIRO_TEOR     3585 non-null   object
 1   DATA             3585 non-null   object
 2   RELATOR          3585 non-null   object
 3   ORGAO            3585 non-null   object
 4   RECORRENTE       3585 non-null   object
 5   DISPOSITIVO      3585 non-null   object
 6   QTD_RECORRENTES  3585 non-null   float64
dtypes: float64(1), object(6)
memory usage: 196.2+ KB
None

In [4]:
df_tudo = df1
df_tudo = df_tudo.append(df2)
df_tudo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10875 entries, 0 to 3584
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INTEIRO_TEOR     10875 non-null  object
 1   DATA             10875 non-null  object
 2   RELATOR          10875 non-null  object
 3   ORGAO            10875 non-null  object
 4   RECORRENTE       10875 non-null  object
 5   DISPOSITIVO      10875 non-null  object
 6   QTD_RECORRENTES  10875 non-null  float64
dtypes: float64(1), object(6)
memory usage: 679.7+ KB

In [5]:
#salvei este arquivo apenas para ter uma versao consolidada COM O ÍNDICE. Assim durante a fase de anotação, se for necessário acessar a integra de uma decisão, isso é possível utilizando o índice.
df_tudo.to_csv( ".\\Datasets_transformados_final\\TRT3\\TRT3_acordaos_amostra_2017_2018_2019_completo_com_indice.csv", encoding='utf-8' )

In [12]:
#eu reabro o arquivo com indice para eu poder salvar o arquivo para anotação com o indice, conforme explicado na celula anterior.
df_com_indice = pd.read_csv( ".\\Datasets_transformados_final\\TRT3\\TRT3_acordaos_amostra_2017_2108_2019_completo_com_indice.csv", encoding='utf-8' )
print( df_com_indice.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10875 entries, 0 to 10874
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10875 non-null  int64
 1   INTEIRO_TEOR     10875 non-null  object
 2   DATA             10875 non-null  object
 3   RELATOR          10875 non-null  object
 4   ORGAO            10875 non-null  object
 5   RECORRENTE       10875 non-null  object
 6   DISPOSITIVO      10875 non-null  object
 7   QTD_RECORRENTES  10875 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 679.8+ KB
None

In [13]:
df_com_indice = df_com_indice.rename(columns={'Unnamed: 0': 'INDICE'})
df_com_indice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10875 entries, 0 to 10874
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INDICE           10875 non-null  int64
 1   INTEIRO_TEOR     10875 non-null  object
 2   DATA             10875 non-null  object
 3   RELATOR          10875 non-null  object
 4   ORGAO            10875 non-null  object
 5   RECORRENTE       10875 non-null  object
 6   DISPOSITIVO      10875 non-null  object
 7   QTD_RECORRENTES  10875 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 679.8+ KB

In [14]:
df_com_indice = df_com_indice.drop(['INTEIRO_TEOR', 'DATA', 'RELATOR', 'ORGAO', 'RECORRENTE', 'QTD_RECORRENTES' ], axis=1)
df_com_indice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10875 entries, 0 to 10874
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   INDICE       10875 non-null  int64
 1   DISPOSITIVO  10875 non-null  object
dtypes: int64(1), object(1)
memory usage: 170.0+ KB

In [15]:
df_com_indice.to_csv( ".\\Datasets_transformados_final\\TRT3_acordaos_2017_2108_2019_com_indice_para_anotacao.csv", encoding='utf-8', index=False )

## Extração da amostra para anotação

In [4]:
df = pd.read_csv( ".\\Datasets_transformados_final\\TRT3_acordaos_2017_2108_2019_com_indice_para_anotacao.csv", encoding='utf-8' )
print( df.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10875 entries, 0 to 10874
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   INDICE       10875 non-null  int64
 1   DISPOSITIVO  10875 non-null  object
dtypes: int64(1), object(1)
memory usage: 170.0+ KB
None

In [5]:
df_anotacao = df.sample(frac=1, random_state=1)
df_anotacao.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10875 entries, 8283 to 235
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   INDICE       10875 non-null  int64
 1   DISPOSITIVO  10875 non-null  object
dtypes: int64(1), object(1)
memory usage: 254.9+ KB

In [6]:
df_anotacao

      INDICE                                        DISPOSITIVO
8283     993  Cabeçalho do acórdão Acórdão FUNDAMENTOS PELOS...
7092    7092  Cabeçalho do acórdão Acórdão FUNDAMENTOS PELOS...
335      335  Cabeçalho do acórdão SÚMULA DO VOTO FUNDAMENTO...
307      307  Cabeçalho do acórdão Acórdão O Tribunal Region...
4945    4945  Cabeçalho do acórdão Acórdão Fundamentos pelos...
...      ...                                                ...
2895    2895  Cabeçalho do acórdão Acórdão FUNDAMENTOS PELOS...
7813     523  Cabeçalho do acórdão CONCLUSÃO Fundamentos pel...
905      905  Cabeçalho do acórdão Acórdão O Tribunal Region...
5192    5192  Cabeçalho do acórdão Acórdão ACORDAM os Desemb...
235      235  Cabeçalho do acórdão Conclusão Fundamentos pel...

[10875 rows x 2 columns]

In [8]:
df_anotacao[0:500].to_csv( ".\\Datasets_transformados_final\\TRT3_amostra_500_ordem_aleatoria_para_anotacao.csv", encoding='utf-8', index=False )